<a href="https://colab.research.google.com/github/MohindharMukku/Web-scraping/blob/main/GDACExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests

In [ ]:
from bs4 import BeautifulSoup
import pandas

In [ ]:
html = requests.get("https://www.gdacs.org/Cyclones/report.aspx?eventid=1000667&episodeid=13&eventtype=TC")
html

In [ ]:
html.text
main_page = BeautifulSoup(html.text)

In [ ]:
table = main_page.find('table', attrs={'class':'generic'})
headings = table.find('tr', attrs={'class':'main_tit'})

columns = []

header_tags = headings.find_all('th')
for header_tag in header_tags:
  columns.append(header_tag.text)

data = {}
for colname in columns:
  data[colname] = []

headings.decompose()

In [ ]:
rows = table.find_all('tr')

for row in rows:
  cells = row.find_all('td')

  index = 0
  for cell in cells:
    colname = columns[index]
    data[colname].append(cell.text)
    index+=1

{'Alert': ['', '', '', '', '', '', '', '', '', '', '', '', ''],
 'Countries': ['India, Bangladesh',
  'India, Bangladesh',
  'India, Bangladesh',
  'India, Bangladesh, Bhutan',
  'India, Bangladesh',
  'India, Bangladesh',
  'India, Bangladesh',
  'India, Bangladesh',
  'India, Bangladesh',
  'India, Bangladesh',
  'India, Bangladesh',
  'India, Bangladesh',
  'India, Bangladesh'],
 'Date (UTC)': ['16 May 2020 06:00',
  '16 May 2020 12:00',
  '16 May 2020 18:00',
  '17 May 2020 00:00',
  '17 May 2020 06:00',
  '17 May 2020 12:00',
  '17 May 2020 18:00',
  '18 May 2020 00:00',
  '18 May 2020 06:00',
  '18 May 2020 12:00',
  '18 May 2020 18:00',
  '19 May 2020 00:00',
  '19 May 2020 06:00'],
 'Max Winds (km/h)': ['167',
  '148',
  '194',
  '194',
  '148',
  '204',
  '204',
  '204',
  '148',
  '204',
  '204',
  '213',
  '157'],
 'N°': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13'],
 'Population inCat. 1 or higher': ['65.9 million',
  '22.3 million',
  '17.5 million',
  '45.9 million',
  '22 million',
  '32.2 million',
  '18.6 million',
  '31.3 million',
  '28.2 million',
  '33.7 million',
  '21.1 million',
  '23.7 million',
  '47.2 million'],
 'Population inTropical Storm ': ['243.2 million',
  '271.3 million',
  '281.6 million',
  '287.9 million',
  '195.2 million',
  '260.9 million',
  '237.9 million',
  '263.6 million',
  '244.5 million',
  '235.5 million',
  '242.6 million',
  '246.7 million',
  '260.3 million']}

In [ ]:
dataframe = pandas.DataFrame(columns=columns)


for colname in columns:
  values = data[colname]
  dataframe[colname] = values


dataframe

   Alert  N°  ... Population inCat. 1 or higher                  Countries
0          1  ...                  65.9 million          India, Bangladesh
1          2  ...                  22.3 million          India, Bangladesh
2          3  ...                  17.5 million          India, Bangladesh
3          4  ...                  45.9 million  India, Bangladesh, Bhutan
4          5  ...                    22 million          India, Bangladesh
5          6  ...                  32.2 million          India, Bangladesh
6          7  ...                  18.6 million          India, Bangladesh
7          8  ...                  31.3 million          India, Bangladesh
8          9  ...                  28.2 million          India, Bangladesh
9         10  ...                  33.7 million          India, Bangladesh
10        11  ...                  21.1 million          India, Bangladesh
11        12  ...                  23.7 million          India, Bangladesh
12        13  ...                  47.2 million          India, Bangladesh

[13 rows x 7 columns]

In [ ]:
dataframe.to_csv("my_dataframe.csv")